@{
    ViewData["Title"] = "Giỏ hàng";
}

@model OrderCart


<div class="row">
    <div class="cart">
        <h2>GIỎ HÀNG</h2>
        <div class="box-cart">
            <div class="row">
                <div id="listPrice" class="col-lg-7">
                    @foreach (var item in Model.ListCarts)
                    {
                        <div class="card">
                            <div class="card-body">
                                <div class="box-cart-border-bottom d-sm-flex justify-content-between align-items-center">

                                    <div class="d-flex justify-content-start align-items-center">

                                        <img src="@item.Image" alt="@item.Name" class="me-2" width="70" />

                                        <div class="d-flex flex-column">
                                            <h5>@item.Name</h5>
                                            <div class="d-flex">
                                                <input data-id="@item.Id" type="number" class="form-control mx-1 qty_input"
                                                    min="1" value="@item.Quantity" />
                                            </div>
                                            <p>
                                                Giá:

                                                <span id="price" class="itemPrice"
                                                    data-price="@item.Price">@string.Format("{0:#,##0}", @item.Price)VNĐ</span>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="pb-2 float-end btn-action">
                                        <a href="/cart/remove/?id=@item.Id" class="btn btn-danger">
                                            Xóa
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    }
                </div>
                <div class="col-lg-5">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title"> Tóm tắt đơn hàng </h3>
                            <p>
                                Phí vận chuyển: <span class="text-danger">Free Ship</span><br>
                                <small>( Miễn phí vận chuyển với đơn hàng trên 10 triệu )</small>
                            </p>

                            <p class="card-text">
                                Thông tin vận chuyển: Sản phẩm sẽ được Hoàng Hoan giao trong vòng

                                2-7 ngày.
                                Chi tiết liên hệ
                                <a href="tel:0978611889">0978 611 889</a>
                            </p>
                            <div>
                                <div>
                                    Tổng tiền :<span class="text-danger"> <span id="total">@string.Format("{0:#,##0}", @Model.Carts) VNĐ</span></span>
                                </div>

                                <div class="btn-group mt-3">
                                    <a id="orderend" href="/Cart/Create" class="btn btn-primary">Đặt hàng ngay</a>
                                    <a href="/" class="btn btn-secondary">Tiếp tục mua hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        $(document).ready(function () {
            $(".qty_input").on("input", function () {
                var quantity = $(this).val();
                var id = $(this).attr("data-id");

                if (quantity !== "") {
                    
                    console.log(quantity);
                   
                    $.ajax({
                        type: "POST",
                        url: "https://localhost:7020/cart/update/?id=" + id + "&quantity=" + quantity,
                        success: function (response) {
                            console.log("Success");
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                    
                }
                location.reload();
            });
        });
    </script>
}