
@{
    ViewData["Title"] = "Profile";
    Product products = ViewBag.product;
}


<div class="container">
    <div class="card">
        <div class="row">
            <div class="col-md-3">
                <div class="card-body">
                    <img class="card-img" src="@products.Image" />
                </div>
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <h2 class="card-title">@products.Name</h2>
                    <h3 class="card-title">@products.Price</h3>
                    <h3 class="card-title">@products.Price</h3>
                    <h3 class="card-title">@products.categoryId</h3>
                    <h3 class="card-title">@products.SalePrice</h3>
                    <h3 class="card-title">@products.Description</h3>
                    <h3 class="card-title">@products.Description</h3>
                    <h3 class="card-title">@products.status</h3>
                    <h3 class="card-title">@products.createAt</h3>
                </div>
            </div>
        </div>
    </div> 
</div>

