@model Lab09.Models.Product

<div>
    <h4>Sản phẩm chi tiết</h4>
    <hr />
    <div class="card">
        <div class="row">
            <div class="col-lg-5">
                <img src="@Model.Image" style="width: 100%; height: auto;" />
            </div>
            <div class="col-lg-7">
                <div class="p-1">
                    <h2 class="card-title">@Model.Title</h2>
                    <p>@Model.Size</p>
                    <p class="card-text d-inline text-decoration-line-through">@String.Format("{0:#,##0}", Model.PriceOld) VNĐ</p>
                    <p style="margin-bottom: 4px">@String.Format("{0:#,##0}", Model.PriceNew) VNĐ</p>
                    <a asp-controller="Cart" asp-action="Add" asp-route-id="@Model.Id" class="card-text text-decoration-none btn btn-danger my-3">
                        <i class="bi bi-bag-check-fill"></i>
                        Mua hàng
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
